<div class= "newbutton"></div>

<%#= search_form_for @q, url: search_tags_path, html: {method: :get} do |form| %>
  <%#= form.label :tags_name_matches, 'Search Tags' %>
  <%#= form.search_field :tags_name_matches %>

  <%#= form.submit "search" %>
<%# end %>

<div class="grid" id="final-arts">

  <% @finalarts.each do |finalart| %>
  <a href="<%= final_art_path(finalart) %>">
    <div class="final-image">
      <%=  image_tag(finalart.img_url) %>
        <div class="final-image-content">
          <p><%= finalart.comment %></p>
        </div>
    </div>
    </a>
  <% end %>
  
</div> 

