

<%#= search_form_for @q, url: search_tags_path, html: {method: :get} do |form| %>
  <%#= form.label :tags_name_matches, 'Search Tags' %>
  <%#= form.search_field :tags_name_matches %>

  <%#= form.submit "search" %>
<%# end %>
<form>
  <p>Search <input type="text" id="searchBox" /></p>
</form>
<div class="grid" id="final-arts">

</div> 

<script id="final-art-template" type="text/html">
  <a href="/final_arts/{{= id }}">
    <div class="final-image">
      <img src="{{= img_url }}">
        <div class="final-image-content">
          <p>{{= comment }}</p>
        </div>
    </div>
  </a>
</script>