
<div class="display-tags">
   <% @tags.each do |tag| %>
   <%= tag.name %>
   <% end %>
 </div>

<div class="grid" id="final-arts">
  <a href="">
    <div class="final-image">
      <div class="show-image">  
       <img><%= link_to image_tag(@finalart.img_url) %></img>
          <div class="final-image-content">
          <%= @finalart.comment  %>
        </div>
      </div>
    </div>  
  </a>  
</div>  



<div class="add-tag">
  <%= link_to "Add a Tag", new_final_art_tag_path(@finalart)  %>
</div>  


