.newbutton {
  text-align: center;
  display: inline-block;
  position: fixed;
  h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: bold;
    text-decoration: bold;
  }
}

.title, a {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  p, a {
    font-weight: bold;
    font-size: 20px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    color: black;
  }

}

.content-wrapper{
  // height: 10000px
  margin: 0 auto;
  max-width: 960px;
}

.create-button, a {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  color: blue;
  position: relative;
  // height: 50px;

}

#search {
  margin-right: 20px;
  float: right;
}

html, body { 
  min-width: 100%;
  min-height: 100%;
  font-family: 'Quicksand', sans-serif;
}

.show-image {
  display: inline-block;
  img {
   
  }
}

.final-image {
  max-width: 320px;
  width: 320px;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  color: white;
  padding: 10px;
  text-align: center;

  img {
    position: relative;
    width: 100%;
  }

  .final-image-content {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 0.8;
    font-size: 200%;
    font-weight: 700;
    color: #00FF00;
    overflow: hidden;
  }
  
}